# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Branch Build

on:
  push:
    branches: [ 1.1.x,1.2.x ]
    tags:
    - '*'
jobs:

  build:

    runs-on: ubuntu-latest

    services:
      elasticsearch:
        image: paulcwarren/elasticsearch:7.6.2
        env:
          discovery.type: single-node
        ports:
          - 9200:9200
          - 9300:9300
      solr:
        image: paulcwarren/solr
        ports:
          - 8983:8983

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE

    - name: Build and test
      run: |
        echo -n "$GCP_SA_KEY" > /tmp/gcp_sa_key
        export GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp_sa_key
        mvn -B -P tests -Dmaven.javadoc.skip=true install jacoco:report  --file pom.xml
        bash <(curl -s https://codecov.io/bash)
      env:
        SOLR_USER: "solr"
        SOLR_PASSWORD: "SolrRocks"
        GCP_STORAGE_BUCKET: ${{secrets.GCP_STORAGE_BUCKET}}
        GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

    - name: Publish JARs
      run: |
        #!/bin/bash

        set -eux

        if [[ "${GITHUB_REF}" == *"tags"* ]]; then
            TAG="${GITHUB_REF#refs/tags/}"
            mvn org.codehaus.mojo:versions-maven-plugin:2.1:set -DnewVersion="${TAG}"
        fi

        mvn -B -DskipTests=true -P ci,docs deploy --file pom.xml

      env:
        GITHUB_USERNAME: ${{ secrets.CI_USERNAME }}
        GITHUB_PASSWORD: ${{ secrets.CI_PASSWORD }}
        MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

    - name: Publish Docs
      run: |
        #!/bin/bash

        set -eux

        if [[ "${GITHUB_REF}" == *"tags"* ]]; then
            TAG="${GITHUB_REF#refs/tags/}"
            export BUILD_TYPE=release/"${TAG}"
            mvn org.codehaus.mojo:versions-maven-plugin:2.1:set -DnewVersion="${TAG}"
        else
            export BUILD_TYPE=snapshot/"${GITHUB_REF#refs/heads/}"
        fi

        mvn -B -U -P docs generate-resources -DskipTests=true -Dmaven.javadoc.skip=true

        git config --global user.email "${CI_EMAIL}"
        git config --global user.name "${CI_USERNAME}"

        set +x
        mkdir -p ~/.ssh
        echo "${CI_PRIVATE_KEY}" | tr -d '\r' > ~/.ssh/id_rsa
        chmod 700 ~/.ssh/id_rsa
        eval $(ssh-agent -s)
        ssh-add ~/.ssh/id_rsa
        set -x

        mkdir -p /tmp/spring-content-gh-pages
        git clone --branch gh-pages git@github.com:paulcwarren/spring-content.git /tmp/spring-content-gh-pages

        cp -R target/generated-docs/refs/* /tmp/spring-content-gh-pages/refs/

        pushd /tmp/spring-content-gh-pages
            git add .
            git commit -m "Publishing reference guides for ${GITHUB_REF}"
            git push origin gh-pages
        popd
      env:
        CI_USERNAME: ${{ secrets.CI_USERNAME }}
        CI_EMAIL: ${{ secrets.CI_EMAIL }}
        CI_PRIVATE_KEY: ${{ secrets.CI_PRIVATE_KEY }}
