name: PR Validation

on:
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: spring-content
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{ env.GITHIB_SHA }}        
    - name: Build and Test
      run: |
        export AWS_REGION=us-west-1
        pushd spring-content
          mvn -B -P tests -Dmaven.javadoc.skip=true install --file pom.xml
        popd

  validate-with-examples:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE    
    - name: Restore Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{ env.GITHIB_SHA }}        
    - uses: actions/checkout@v2
      with:
        repository: paulcwarren/spring-content-examples
        path: spring-content-examples
        ref: refs/heads/main
    - name: Validate against Examples
      run: |
        export AWS_REGION=us-west-1
        pushd spring-content-examples
          git fetch --all
          git checkout main
          mvn -B clean install
        popd

  validate-with-gettingstarteds:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE    
    - name: Restore Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{ env.GITHIB_SHA }}        
    - uses: actions/checkout@v2
      with:
        repository: paulcwarren/spring-content-gettingstarted
        path: spring-content-gettingstarted
        ref: refs/heads/main
    - name: Validate against Getting Started Guides
      run: |
        export AWS_REGION=us-west-1
        pushd spring-content-gettingstarted
          SPRING_CONTENT_VERSION=3.0.2-SNAPSHOT mvn -B clean install
        popd        
